@model List<SiteExample.Models.Item>
@{
	ViewData["Title"] = "Index";
}

<h3>Item List</h3>

<div class="card">
    <div class="card-header">
        Items
    </div>
    <div class="card-body">
        <a class="btn btn-success" asp-controller="Items" asp-action="Create">New Item</a>
        <!-- Table Start -->
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Category</th>
                    <th scope="col">Price</th>
                    <th scope="col">Serial Number</th>
                    <th scope="col">Clients</th>
                    <th scope="col">Edit / Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id.ToString()</td>
                        <td>@item.Name</td>
                        <td>@item.Category?.Name</td>
                        <td>@item.Price.ToString()</td>
                        <td>@item.SerialNumber?.Name</td>
                        <td>
                            @foreach(var client in item.ItemClients)
                            {
                                @client.Client.Name
                            }
                        </td>
                        <td>
                            <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Delete</button>

                            <!-- Delete Modal Start-->
                            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog" style="color:black">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Delete Item</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Confirm Delete This Item No.@item.Id ?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                            <form asp-action="Delete" method="post">
                                                <button class="btn btn-primary" asp-action="Delete" asp-route-id="@item.Id">Delete</button>
                                            </form>  
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Delete Modal End-->
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <!-- Table End -->
    </div>
</div>